* {
  margin: 0;
  padding: 0;
}
body {
  background-color: aqua;
}
.container {
  max-width: 700px;
  margin: 50px auto;
}
h1 {
  color: brown;
  margin-top: 30px;
  margin-bottom: 40px;
}
p {
  padding: 10px;
  color: darkblue;
  font-family: sans-serif;
  font-size: 15px;
}
ul li,
li a {
  display: inline-block;
  padding: 8px;
  background-color: bisque;
  border-radius: 10px;
  text-decoration: none;
  color: peru;
  margin-right: 10px;
  text-align: center;
}
